/* Importación de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;400;600;800&display=swap');

:root{
  --main-color:#d3ad7f;
  --black:#000;
  --bg:#010103;
  --border:.1rem solid rgba(255,255,255,.3);
}
html{
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif; /* Establecer una altura mínima igual a la altura de la ventana del navegador */
  background: var(--bg);
}
header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}
header img {
  height: 150px;
  width: 300px;
  padding-left: 50px;
}

header .brand {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}
/* Sección principal */
section {
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.9);
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

home:before {
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; 
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
  margin-left: 210px;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 65px;
  margin-top: 10px;
  text-transform: uppercase;
  color: whitesmoke;
}

.home .content a {
  background: #fff;
  padding: 15px 35px;
  color: #000;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
  text-transform: uppercase;
  margin-left: 217px;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5 ease;
  height: 30px;
  width: 35px;
}
.home .media-icons img{
  height: 30px;
  width: 30px;
}

.home .media-icons a {
  color: #fff;
  font-size: 1.6em;
}

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
}

.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgb(0, 0, 0);
}

/* Navegación de la sección de Slider */
.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: #000;
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}
#about-manifiesto {

  background-color: whitesmoke;
  padding: 60px;
  position: relative;
  border: 1px solid #000;
}
#about-manifiesto .container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

#about-manifiesto h2 {
  display: flex;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  text-decoration: wavy;
}

#about-manifiesto h1 {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: #000;
  line-height: 1.4;
  margin-bottom: 30px;
  margin-top: 20px;
}

#about-manifiesto p {
  font-size: 25px;
  color: #000;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Animaciones para el contenido */
[data-animated] {
  opacity: 0;
}

[data-animated="fadeInUp"] {
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*CONTACTO*/
.contacto{
  text-align: center;
}
.contacto h1{
  color: #fff;
  text-transform: uppercase;
  font-size: 3.5rem;
}
.contacto .row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  padding: 2rem;
}

.contacto .row .mapa {
  flex: 1 1 45rem;
  width: 100%;
  height: 400px; /* Ajusta la altura adecuadamente */
  object-fit: cover;
}

.contacto .row form {
  flex: 1 1 45rem;
}

.contacto .row h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contacto .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--bg);
  border: var(--border);
}

.contacto .row form .inputBox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contacto .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
  border: none;
}

.contacto .row form .inputBox input::placeholder{
  color: #fff;
}

.contacto .row form input.btn{
  padding: 30px 75px;
  background: #fff;

}
.contacto .row form input button{
  color: whitesmoke;
}
.contacto .row form input{
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
}

/*FOOTER*/
footer {
  background: rgb(47,13,246);
  background: linear-gradient(90deg, rgba(47,13,246,1) 10%, rgba(81,29,253,1) 40%, rgba(85,0,213,1) 100%);
  padding: 40px 56px;
  text-align: center;
  width: 100%;
}

footer h4 {
  color: #000;
  font-size: 30px;
  margin: 0;
}

footer i {
  color: #000;
  font-size: 20px;
  vertical-align: middle;
  margin: 0 10px;
  animation: bounce 1.5s infinite;
}

footer a{
  text-decoration: none;
  color: whitesmoke;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Estilos para el ícono del footer */
.fa-solid {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* Media query para dispositivos con un ancho máximo de 768px (tablets y dispositivos móviles en orientación horizontal) */
@media screen and (max-width: 991px) {
  header {
    margin: 0;
    padding: 5px 20px 1px 1px; /* Reducir el padding del encabezado para adaptarse a pantallas más pequeñas */
  }

  header img {
    height: 200px; /* Reducir el tamaño del logo para adaptarse a pantallas más pequeñas */
    width: auto;
    margin-left: 30px;
    margin-top: 20px;
  }

  header .brand {
    font-size: 1.2em; /* Reducir el tamaño del texto del encabezado para adaptarse a pantallas más pequeñas */
  }

  header .navigation {
    display: none; /* Ocultar la navegación en dispositivos móviles (puedes implementar un menú desplegable o un ícono para mostrar/ocultar la navegación) */
  }
  .home .content h1 {
    font-size: 2.5em;
    margin-left: 0;
  }

  .home .content a {
    margin-left: 0;
  }

  .home .media-icons {
    height: 20px;
    width: 20px;
  }
  .contacto .row {
    padding: 1rem;
  }

  .contacto .row h3 {
    font-size: 2.5rem;
  }
  .contacto .row .mapa,
  .contacto .row form {
    flex: 1 1 100%;
  }
  .form-txt {
    flex-direction: column;
  }
  footer h4 {
    font-size: 16px; 
  }
}
@media screen and (max-width: 480px) {
  header {
    text-align: center;
    margin: 0;
  }
  header img {
    height: 100px;
    margin-top: 20px;
  }
  header .brand {
    font-size: 1.2em;
  }
  header .navigation {
    display: none;
  }
  .home .content a {
    margin-left: 0; 
  }
  .home .content p {
    font-size: 14px;
  }
  .slider-navigation .nav-btn{
    margin: 0;
  }
  .form-txt {
    flex-direction: column;
  }
  section#about-manifiesto {
    padding: 50px 55px;
  }
  form {
    padding: 20px;
  }
  footer h4{
    font-size: small;
  }
  footer i{
    height: 10px;
    width: 10px;
  }
  .input-group {
    grid-template-columns: 1fr;
  }
  .contacto .row h3 {
    font-size: 2rem;
  }
}
